.sidebar {
  background: black;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 100vh;
}

.first {
  display: flex;
  flex-direction: row;
}

.topIcon {
  color: gray;
  transform: rotate(180deg);
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: smaller;
  cursor: pointer;
}

.topIcon:hover {
  color: white;
}

h1 {
  color: rgb(110, 247, 247);
  font-size: large;
  margin-left: 28px;
  margin-top: 1rem;
}
.score {
  color: white;
  font-size: large;
  margin-left: 0 !important;
}

li {
  color: gray;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  margin: 0.2rem 0;
  cursor: pointer;
}

li:hover {
  color: white;
}

p {
  color: gray;
  margin-left: 1.8rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

span {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.second {
  margin-top: 25px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  object-fit: contain;
  margin-right: 5px;
}

a {
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

a:hover {
  color: white;
}
